body {
	text-align: center;
	background: url("backdrop.png");
	background-size: cover;
}
ul {
	padding: 10px 10px 10px 10px;
	margin-top: 0;
	text-align: center;
	color: white;
}
	li {
		font-family: 'Open Sans Condensed';
		display: inline;
		padding: 0px 20px 0px 20px;
		text-align: right;
		margin: auto;
		color: white;
		font-size: 24px;
	}
img {
	height: 300px;
	border-radius: 5px;
	border-width: 2px;
	border-color: black;
	margin: 40px;
	}
p {
	font-family: 'Open Sans Condensed', bold;
	font-size: 25px;
	font-weight: bold;
	width: 600px;
	margin: auto;
}